h1{
    background-color: orange;
    color: white;
    text-align: center;

}

.son{
    border-style: double;
    border-width: 20px;
    font-style: italic;
    background-color: blue;
    color: white;
    text-align: right;
    font-family: 'Montserrat', sans-serif;

}

.child{
    border-style: double;
    border-width: 20px;
    background-color: black;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 2em;

}

div.book{
    text-align: center; 
    color: white;
    background-color: red;
}
h1{
    background-color: red;
}